// Drawer -Colors

$gray-light: #f2f2f2;
$gray: #A8ABB2;

$blue-dark:#243748;
$blue-dark-2:#253848;


//Allgemein -Colors
$gray-middle: #404040;
$gray-dark: #222222;



// Speziell zugewiesen

$color-title: $gray-middle;
$color-subtitle: $gray-middle;